name: Tests
"on":
  pull_request: {}
  push:
    branches:
    - main
jobs:
  unit:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: Gr1N/setup-poetry@v8
    - uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        cache: 'poetry'
    - name: Run Install
      run: poetry install
    - name: Run Tests
      run: poetry run pytest --cov=./ --cov-report=xml
    - name: Report coverage
      run: bash <(curl -s https://codecov.io/bash)
